<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Hastahane Otomasyonu </title>
    </h:head>
    <h:body style="background-color: yellowgreen">
        <h:form >
            
            <p> <h1 align="center">Hastahane Otomasyonu Girişi</h1> </p>
            <div align="center">
            <h:panelGrid  columns="2" style="height: 200px; width:300px; alignment-adjust: central">
                <h:outputText value="Kullanıcı Adı:"/>
                <h:inputText  id="nameinputText" required="true" requiredMessage="Lütfen kullanıcı adını giriniz" value="#{login.username}" 
                              validatorMessage="Kullanıcı adınız 8 karakterden az olmalıdır" >
                
                 <f:validateLength maximum="8"/>
                </h:inputText>
                  <br/>
                <h:message for="nameInputText" />
              
                <h:outputText value="Şifre:"/>
                
                <input type="password" value="#{login.password}" ></input>
                <br/>
                <h:outputText value="Ünvanı:"/>
                
                <h:selectOneMenu id="jobsSelect" value="#{login.jobs}">
                    <f:selectItem itemValue="Musteri" itemLabel="Müşteri"/>
                    <f:selectItem itemValue="Yonetici" itemLabel="Yonetici"/>
                    <f:selectItem itemValue="Calisan"  itemLabel="Çalışan"/>    
                </h:selectOneMenu>  
                <br/>
                 <h:commandButton value="Otomasyona Giriş" action="Randevu.xhtml"/>
            </h:panelGrid>
            
            </div>
           
            
            
            
            
            
            
            
            
            
        </h:form>
    </h:body>
</html>

